
<div class="footer">
    <h3>developed by : Abdallah A Alazam</h3>
    <p class="message">*study project, to add animals <a href="/add">click me</a>, <a href="/remove"> to remove animal</a>*</p>
    <ul>
        <li>
            <a href="#">linkedIn</a> 
        </li>
        <li>
           <a href="#">github</a> 
        </li>
        <li>
            <a href="#">website</a> 
        </li>
    </ul>
</div>
</body>
</html>