
<div class="navBar">
    <div class="logo">
        <h1>Animals</h1>
    </div>
    

    <div class="list">
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/dogs">Dogs</a>
                <a href="/cats">Cats</a>
                <a href="/others">Other</a>
            </li>
        </ul>
    </div>
</div>