<%- include ("../partials/header"); -%>

<%- include ("../partials/navBar"); -%>

<div class="indexBody">
   
    <h2>
        join our mission to save animals
    </h2>
    <p>
        help us to save animals by adopting from our facilities,<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident non deleniti molestiae numquam cupiditate, sapiente quod praesentium sed quibusdam ipsam adipisci facere est labore? Quod, voluptatum! Quae dolorum alias consectetur.
        Quisquam repellat repellendus maxime vero reiciendis optio excepturi dolor ipsa iusto impedit totam omnis earum facilis voluptate, ab recusandae voluptas possimus. Accusamus nulla adipisci, molestias ullam vel commodi molestiae fugiat?
        Ipsum recusandae molestias veritatis, eveniet earum sunt quaerat. Ab pariatur est cumque, dolorem impedit ipsa voluptates eos ut excepturi. Quidem quo, nesciunt assumenda deserunt illum mollitia quas. Porro, quis! Velit.

    </p>
</div>

<div class="pics">
    <img src="imags/1.jpg" alt="">
    <img src="imags/2.jpg" alt="">
    <img src="imags/3.jpg" alt="">
    <img src="imags/4.jpg" alt="">
    <img src="imags/5.jpg" alt="">
</div>

<div class="contact">
    <h2>for more information </h2>
    <div class="contactInfo">
        <ul>
            <li>phone:555-555-5555</li>
            <li><address>369 overthere str alaska , USA</address></li>
        </ul>
        <form action="/message" method="post" class="form"> 
            <input type="text" name="Name" id="" placeholder="Your Name">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>  
            <button type="submit">Send</button>          
        </form>
    </div>
</div>

<%- include ("../partials/footer"); -%>
